@import "css/default.css";

html, body {
    margin: 0;
    padding: 0;

    width: 100%;
    height: 100%;
}

body {
    display: grid;
    justify-content: center;
    align-items: center;
}

h1 h2 h3 p {
    font-family: "League Spartan", sans-serif;
}

.app {
    width: 540px;

    display: grid;
    grid-gap: 32px;
}

header {
    width: 100%;

    display: grid;
    align-items: center;
    grid-template-columns: 70% 18% 12%;
}

header #h1-logo {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;

    margin: 0;
    padding: 0;

    font-size: 36px;
}

header .theme-toggle-name {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;

    justify-self: center;
}

header .theme-toggle-name p {
    margin: 0;
    font-size: 12px;
}

header .toggle-input-count {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;

    display: inline-grid;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr;
}

header .toggle-input-count p {
    margin: 0;
    padding: 0;

    font-size: 12px;
}

header .toggle-input {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;

    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;

    background-color: var(--clr-buttons-background-blue);
    border-radius: 50px;

    padding: 4px 0;
}

header .toggle-input input {
    margin: 0;
    padding: 0;

    display: inline-grid;
    justify-self: center;

    width: 14px;
    height: 14px;

    appearance: none;
    opacity: 0;

    background-color: var(--clr-button-background-red);
    border-radius: 50%;

    cursor: pointer;
}

main {
    width: 100%;

    display: grid;
    grid-gap: 24px;
}

main .result-background {
    box-sizing: border-box;
    padding: 32px 40px;

    border-radius: 12px;
}

main .result-background #display {
    width: 100%;
    height: 100%;

    font-size: 45px;
    font-weight: bold;

    text-align: right;
    text-overflow: ellipsis;

    border: none;
}

main .buttons-background {
    box-sizing: border-box;
    padding: 30px;

    border-radius: 12px;
}

main .buttons-background .buttons-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 23px;

    justify-content: center;
    align-items: center;
}

main .buttons-background .buttons-container button {
    width: 100%;
    height: 60px;

    font-size: 36px;
    font-weight: bold;

    border: none;
    border-radius: 12px;

    margin: 0;
    padding: 0;
    cursor: pointer;
}

main .buttons-background .buttons-container button:nth-child(4) {
    color: var(--clr-text-white);
    font-size: 28px;
}

main .buttons-background .buttons-container button:nth-child(17) {
    width: 100%;
    grid-column: 1 / 3;

    color: var(--clr-text-white);
    font-size: 28px;
}

main .buttons-background .buttons-container button:nth-child(18) {
    width: 100%;
    grid-column: 3 / 5;

    font-size: 28px;
}